In [5]:
import random
import numpy as np
import pandas as pd
import tensorflow as tf

### 1. Get the data

read from pickle which is the output from preprocessing.py

In [6]:
df_class_0 = pd.read_pickle("./preprocessed-data/class_0.pkl")
df_class_1 = pd.read_pickle("./preprocessed-data/class_1.pkl")
df_class_2 = pd.read_pickle("./preprocessed-data/class_2.pkl")

Data quick look

In [7]:
df_class_0.describe()

,class,rEar,lEar,mar,perclos,microsleep_rate,yawning_rate
count,674668.0,674668.000000,674668.000000,674668.000000,674668.000000,674668.000000,674668.0
mean,0.0,0.606884,0.603751,0.126231,0.194997,0.022779,0.0
std,0.0,0.164535,0.158557,0.141144,0.257503,0.047628,0.0
min,0.0,0.000000,0.000000,0.000000,0.000370,0.000000,0.0
25%,0.0,0.510882,0.508743,0.025389,0.032258,0.000000,0.0
50%,0.0,0.625695,0.622814,0.064654,0.084909,0.000000,0.0
75%,0.0,0.718808,0.708880,0.191937,0.213462,0.016668,0.0
max,0.0,1.000000,1.000000,1.000000,0.998520,0.272257,0.0

In [8]:
df_class_1.describe()

,class,rEar,lEar,mar,perclos,microsleep_rate,yawning_rate
count,671030.0,671030.000000,671030.000000,671030.000000,671030.000000,671030.000000,671030.0
mean,1.0,0.596223,0.580454,0.118227,0.223984,0.023854,0.0
std,0.0,0.173370,0.179585,0.148358,0.259173,0.045631,0.0
min,1.0,0.000000,0.000000,0.000000,0.000370,0.000000,0.0
25%,1.0,0.489097,0.451631,0.019964,0.055144,0.000000,0.0
50%,1.0,0.610942,0.601640,0.046164,0.118889,0.000000,0.0
75%,1.0,0.714589,0.705466,0.162605,0.265692,0.016667,0.0
max,1.0,1.000000,1.000000,1.000000,0.994634,0.216675,0.0

In [9]:
df_class_2.describe()

,class,rEar,lEar,mar,perclos,microsleep_rate,yawning_rate
count,676759.0,676759.000000,676759.000000,676759.000000,676759.000000,676759.000000,676759.000000
mean,2.0,0.540240,0.532430,0.154074,0.352848,0.042466,0.000077
std,0.0,0.192173,0.192402,0.164366,0.301389,0.056208,0.000918
min,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.0,0.396734,0.386533,0.032298,0.086667,0.000000,0.000000
50%,2.0,0.543804,0.525528,0.084911,0.269564,0.011112,0.000000
75%,2.0,0.675448,0.674613,0.227993,0.576255,0.066676,0.000000
max,2.0,1.000000,1.000000,1.000000,1.000000,0.283354,0.016668

Get the values from each dataframe

In [10]:
datasets = []
datasets.append(df_class_0.values)
datasets.append(df_class_1.values)
datasets.append(df_class_2.values)

In [11]:
min_length = min(len(df_class_0), len(df_class_1), len(df_class_2))
print(f"minimum length : {min_length}")

minimum length : 671030

### 2. Data Preparation

Balance data for each class

In [12]:
for idx in range(3):
    datasets[idx] = random.sample(list(datasets[idx]),min_length)

Flatten the datasets

In [13]:
dataset = [item for sublist in datasets for item in sublist]
print(f"there is {len(dataset)} rows in the datasets")

there is 2013090 rows in the datasets

Shuffle the dataset

In [14]:
random.shuffle(dataset)

separate into and X and y values

In [15]:
X = []
y = []

for data in dataset:
    y.append(int(data[0]))
    X.append(data[1:])

convert into numpy array

In [16]:
X = np.array(X)
y = np.array(y)

### 3. Model Design

build model

In [17]:
model = tf.keras.models.Sequential()

add layers

In [18]:
model.add(tf.keras.layers.Dense(512, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(512, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(512, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(512, activation=tf.nn.relu))
# output layers
model.add(tf.keras.layers.Dense(3, activation=tf.nn.softmax))

Compile model

In [19]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

Train model

In [20]:
model.fit(X, y,  batch_size=128, epochs=20, validation_split=0.25)

Train on 1509817 samples, validate on 503273 samples
Epoch 1/20
1509817/1509817 [==============================] - 133s 88us/sample - loss: 0.7453 - accuracy: 0.6474 - val_loss: 0.6453 - val_accuracy: 0.7106
Epoch 2/20
1509817/1509817 [==============================] - 140s 93us/sample - loss: 0.6057 - accuracy: 0.7293 - val_loss: 0.5756 - val_accuracy: 0.7452
Epoch 3/20
1509817/1509817 [==============================] - 135s 90us/sample - loss: 0.5674 - accuracy: 0.7482 - val_loss: 0.5535 - val_accuracy: 0.7556
Epoch 4/20
1509817/1509817 [==============================] - 133s 88us/sample - loss: 0.5454 - accuracy: 0.7595 - val_loss: 0.5340 - val_accuracy: 0.7659
Epoch 5/20
1509817/1509817 [==============================] - 133s 88us/sample - loss: 0.5312 - accuracy: 0.7660 - val_loss: 0.5395 - val_accuracy: 0.7626
Epoch 6/20
1509817/1509817 [==============================] - 153s 101us/sample - loss: 0.5205 - accuracy: 0.7714 - val_loss: 0.5145 - val_accuracy: 0.7747
Epoch 7/20
1509817/1509817 [==============================] - 155s 102us/sample - loss: 0.5118 - accuracy: 0.7755 - val_loss: 0.5087 - val_accuracy: 0.7786
Epoch 8/20
1509817/1509817 [==============================] - 140s 92us/sample - loss: 0.5045 - accuracy: 0.7792 - val_loss: 0.5178 - val_accuracy: 0.7738
Epoch 9/20
1509817/1509817 [==============================] - 134s 89us/sample - loss: 0.4982 - accuracy: 0.7816 - val_loss: 0.5055 - val_accuracy: 0.7804
Epoch 10/20
1509817/1509817 [==============================] - 141s 93us/sample - loss: 0.4929 - accuracy: 0.7847 - val_loss: 0.4941 - val_accuracy: 0.7850
Epoch 11/20
1509817/1509817 [==============================] - 137s 91us/sample - loss: 0.4891 - accuracy: 0.7861 - val_loss: 0.4903 - val_accuracy: 0.7866
Epoch 12/20
1509817/1509817 [==============================] - 133s 88us/sample - loss: 0.4850 - accuracy: 0.7883 - val_loss: 0.4903 - val_accuracy: 0.7859
Epoch 13/20
1509817/1509817 [==============================] - 140s 93us/sample - loss: 0.4810 - accuracy: 0.7899 - val_loss: 0.4948 - val_accuracy: 0.7836
Epoch 14/20
1509817/1509817 [==============================] - 144s 96us/sample - loss: 0.4779 - accuracy: 0.7916 - val_loss: 0.4846 - val_accuracy: 0.7894
Epoch 15/20
1509817/1509817 [==============================] - 139s 92us/sample - loss: 0.4745 - accuracy: 0.7929 - val_loss: 0.4821 - val_accuracy: 0.7908
Epoch 16/20
1509817/1509817 [==============================] - 134s 89us/sample - loss: 0.4723 - accuracy: 0.7940 - val_loss: 0.4915 - val_accuracy: 0.7840
Epoch 17/20
1509817/1509817 [==============================] - 151s 100us/sample - loss: 0.4693 - accuracy: 0.7955 - val_loss: 0.4752 - val_accuracy: 0.7945
Epoch 18/20
1509817/1509817 [==============================] - 148s 98us/sample - loss: 0.4669 - accuracy: 0.7967 - val_loss: 0.4744 - val_accuracy: 0.7954
Epoch 19/20
1509817/1509817 [==============================] - 157s 104us/sample - loss: 0.4652 - accuracy: 0.7977 - val_loss: 0.4735 - val_accuracy: 0.7950
Epoch 20/20
1509817/1509817 [==============================] - 143s 95us/sample - loss: 0.4625 - accuracy: 0.7988 - val_loss: 0.4804 - val_accuracy: 0.7916

Convert to tflite format

In [21]:
converter = tf.lite.TFLiteConverter.from_keras_model(model)
tflite_model = converter.convert()

Save to file

In [22]:
open("./tflite-model/ann_drowsy.tflite", "wb").write(tflite_model)

3174636